html {
    font-size: 62.5%;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1.6rem;
}

.cabecalho {
    padding: 30px 15px;
    position: relative;
}

.cabecalho .logo {
    background: url(../img/logo2.png) center center no-repeat;
    width: 85px;
    height: 85px;
    display: inline-block;
}

.cabecalho .logo h1 {
    font-size: 0;
}

.cabecalho nav {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 30px;
}

.cabecalho ul li {
    display: inline-block;
    padding: 15px;
}

.cabecalho ul li a:hover {
    font-weight: bold;
}

.painel {
    background: url(../img/painel.png) center center no-repeat;
    height: 600px;
}

.painel h2 {
    color: white;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%);
}

.secao-texto {
    padding: 153px;
    text-align: center;
    clear: both;
}

.secao-texto img {
    width: 150px;
    margin-bottom: 60px;
}

.secao-texto h2 {
    font-size: 45px;
    font-weight: 600;
    color: #642714;
    margin-bottom: 37px;
}

.secao-texto p {
    font-size: 18px;
    width: 702px;
    margin: 0 auto;
}


.onde-estamos.onde-estamos p {
    font-size: 28px;
    margin: 0 auto;
}

.ladrilho div{
    float: left;
}

.ladrilho .grande {
    background: url(../img/4.png) center center no-repeat;
    height: 600px;
    width: 50%;
}

.ladrilho .pequeno {
    background: url(../img/2.png) center center no-repeat;
    height: 300px;
    width: 25%;
}

.ladrilho .pequeno2 {
    background: url(../img/3.png) center center no-repeat;
    height: 300px;
    width: 25%;
}

.ladrilho .medio {
    background: url(../img/1.png) center center no-repeat;
    height: 300px;
    width: 50%;
}

.contato {
    background: url(../img/fundo-contato.png) center center no-repeat;
    color: white;
    height: 600px;
    position: relative;
}

.contato h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
}

.contato address {
    font-style: normal;
    font-size: 25px;
    font-weight: 600;
}

.contato .texto {
    position: absolute;
    top: 30%;
    left: 15%;
}

.rodape {
    background: url(/src/img/rodape.png) center center no-repeat;
    background-size: cover;
    padding: 35px 180px;
}

.rodape ul {
    float: right;
    margin-top: 30px;
}

.rodape ul li { 
    display: inline-block;
    padding: 15px;
}

.rodape ul li a{
    color: #642714;
}

.rodape ul li a:hover {
    font-weight: bold;
}

.rodape .copyright {
    color: #642714;
}

.rodape .redes-sociais .facebook, .rodape .redes-sociais .instagram {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.rodape .redes-sociais {
    float: right;
    clear: both;
}

.rodape .conteudo-baixo {
    margin-top: 40px;
}